root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,ts,tsx,js,jsx,json,toml,yml,yaml,sol}]
indent_style = space
indent_size = 2

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[*.[mM][dD]]
trim_trailing_whitespace = false
